version: '3.8'

services:
  postgres:
    image: quay.io/fedora/postgresql-16:latest
    environment:
      POSTGRESQL_USER: quay
      POSTGRESQL_PASSWORD: password
      POSTGRESQL_DATABASE: quay
    ports:
      - "5432:5432"
    restart: always
    networks:
      - quay-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: quay.io/fedora/redis-7:latest
    ports:
      - "6379:6379"
    restart: always
    networks:
      - quay-net

  quay:
    image: quay.io/projectquay/quay:latest
    environment:
      DATABASE_TYPE: postgres
      DATABASE_URL: postgres://quay:password@{{ ip_host }}:5432/quay
      LOG_LEVEL: debug
      HTTP_ADDR: 0.0.0.0:8080
      SERVER_HOSTNAME: "hackctf.com.arg:8448"
      BUILDLOGS_REDIS: "redis://{{ ip_host }}:6379/0"
    ports:
      - "8080:8080"
      - "8448:8443"
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - quay-net
    volumes:
      - ./config:/quay-registry/conf/stack:rw,Z  # Montar el archivo de configuración
      - ./storage:/datastorage:rw,Z  # Montar el almacenamiento de Quay
    restart: always
    user: 1000:1000
    cap_drop:
      - ALL
    cap_add:
      - CHOWN
      - FOWNER
      - SYS_ADMIN
      - DAC_OVERRIDE
    security_opt:
      - no-new-privileges:true

networks:
  quay-net:
    driver: bridge
